/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* //CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* //CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* //CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* //CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
  
  }

#nav {
    overflow: hidden;
    background-color: rgb(245, 237, 237);
    position: relative;
  }
  #navlinks{
      display: none;
  }
    
  #navlinks a{

    display: block;
    color: white;
}
#nav a.icon{
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
#nav a:hover {
    background-color: #ddd;
    color: black;
  }

  




body {
    font-family: "Poppins", Arial, sans-serif;
    /* background: #242424; */
    background-image: url("assets/background.png");
    font-size: 16px;
    line-height: 2;
    color: #999999;
    text-align: center;
}/* Home css */
#home{
    margin-bottom: 20%;
}
.flex{
    display: flex;
}
#logo {
    color: #FFAC00;
    font-size: x-large;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    
    
}
header{
    flex-direction: row;
    justify-content: space-between;
}
#nav>ul{
list-style-type: none;
}
li,a{
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    color: #999999;
}
.subheading{
    color: #FFAC00;
    font-size: 2rem;
}
/* for text animate/rotate*/

#rotate::before { 
    content: "Software Development."; 
    animation: rotate infinite 4s; 
    padding-left: 10px;
    color: #FFAC00;
    font-size: 2rem;
} 
@keyframes rotate { 

    0% { 
        content: "Coding."; 
    } 
    25% { 
        content: "Software Development."; 
    } 

    50% { 
        content: "CyberSecurity."; 
    } 
    60% {
        content: "AI";
    } 
    65% {
        content: "ML";
    }

    75% { 
        content: "Problem Solving."; 
    } 
    100% {
        content: "Books.";
    }
} 

/*About Css */
#about{
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 18%;
}
#about h2{
    font-size: 50px;
    font-weight: 700;
}
#about p{
    color: #E5E5E5;
    margin-top: 0;
    margin-bottom: 1rem;
}
li{
    justify-content: space-between;
}
li span:first-child {
    font-weight: 600;
    color: #6EC5B8;
    width: 130px;
}

/* skills */
#skills{
    flex-direction: column;
    justify-content: center;
}
#skills>div{
    /* text-align: center; */
}
#skills h2{
    font-weight: 800;
    font-size: 3rem;
    /* margin-bottom: 30px; */
    /* color: #FFAC08; */
   
}
.innerdiv{
    align-self: center;
    justify-content: space-around;
}
/**/